html {background-image: url('background.jpg'); 
    text-align:center;
}

h3 {
    background-color: #5E1485;
    font-size: 40px;
}

a { color: #22c7d3;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h1 {
    font-style: italic;
    font-size: 30px;
}

h2 {
    font-size: 30px;
    font-style: italic;
}

li {
    font-size: 24px;
}

p {
    font-size: 20px;
}

table {
    font-size: 27px;
    text-align:center;
}

img {
    border-radius: 8px;
} 

.about { float: left;
    width: 30%;

}

.info { float: left; 
    width: 70%;

}
body {

    border: 5px solid rgb(165, 171, 243);
    
    }

footer {

    font-size: 26px;
    font-style: bold;
}
marquee {
    font-family: 'Gill Sans';
    font-style: italic;
}
